<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<section layout:fragment="mybody">
    <div class="card m-3">

        <!-- Course owls image -->
        <img class="card-img-top" src="/image/StudyOwls2.png" alt="Studying owls">

        <!-- Course details -->
        <div class="card-body">

            <h1 class="card-title" th:text="${course.title}">Course Title</h1>

            <p th:text="${course.description}">Course Description</p>

            <!-- Iterating over the contents of the course -->
            <div th:each="content : ${contents}">
                <!-- Content fragment -->
                <div th:insert="~{courses/contentFragment :: contentFragment (content=${content})}"></div>
            </div>

            <!-- Pagination controls for contents -->
            <div th:if="${!contents.empty}">
                <div>
                    <ul class="pagination mt-3">
                        <li class="page-item" th:classappend="${contents.first} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/courses/{id}(id=${course.courseId}, page=${contents.number - 1}, size=${contents.size})}">
                               &laquo;
                            <span th:text="#{pagination.previous}"> Previous</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, contents.totalPages - 1)}"
                            th:classappend="${pageNum == contents.number} ? 'active' : ''">
                            <a class="page-link"
                               th:href="@{/courses/{id}(id=${course.courseId}, page=${pageNum}, size=${contents.size})}"
                               th:text="${pageNum + 1}"></a>
                        </li>

                        <li class="page-item" th:classappend="${contents.last} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/courses/{id}(id=${course.courseId}, page=${contents.number + 1}, size=${contents.size})}">
                                <span th:text="#{pagination.next}">Next</span>
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Form for adding content to course -->
            <div class="card" sec:authorize="hasAuthority('EXPERT')">
                <div class="card-body">
                    <h3 class="card-title" th:text="#{content.add}"> Add Content </h3>
                    <!-- Form for adding content to course -->
                    <form th:action="@{/courses/addContent}" method="post">
                        <!-- Hidden input for course ID -->
                        <input type="hidden" name="courseId" th:value="${course.courseId}">

                        <!-- Input fields for content title and data -->
                        <div class="form-group">
                            <label for="contentTitle" th:text="#{content.title}">Content Title</label>
                            <input type="text" class="form-control" id="contentTitle" name="contentTitle"
                                   th:placeholder="#{content.placeholder.title}">
                        </div>
                        <div class="form-group">
                            <label for="contentData" th:text="#{content.data}">Content Data</label>
                            <textarea class="form-control" id="contentData" name="contentData" rows="3"></textarea>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary mt-3" th:text="#{content.add}">Add Content</button>
                    </form>
                </div>
            </div>


            <!-- Form for uploading files to course -->
            <div class="card mt-3" sec:authorize="hasAuthority('EXPERT')">
                <div class="card-body">
                    <h3 class="card-title">Upload File</h3>
                    <form id="uploadForm" action="/courses/upload" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="courseId" th:value="${course.courseId}">

                        <div class="mb-3">
                            <label for="fileUpload" class="form-label">Choose file</label>
                            <input class="form-control" type="file" id="fileUpload" name="file">
                        </div>

                        <div class="form-group">
                            <label for="fileDescription">File Description</label>
                            <textarea class="form-control" id="fileDescription" name="fileDescription"
                                      rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3">Upload</button>
                    </form>
                    <div id="uploadStatus"></div>
                </div>
            </div>

        </div>
    </div>

</section>
</body>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);
        fetch('/upload', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Display success message
                document.getElementById('uploadStatus').innerHTML =
                    '<div class="alert alert-success" role="alert">' + data.message + '</div>';
            })
            .catch(error => {
                // Display error message
                document.getElementById('uploadStatus').innerHTML =
                    '<div class="alert alert-danger" role="alert">Error: ' + error.message + '</div>';
            });
    });
</script>


</html>
