<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <style>
        .disabled-link {
            pointer-events: none; /* Disable pointer events */
            opacity: 0.6; /* Dim the link to indicate it's disabled */
        }
    </style>
</head>
<body>
<section layout:fragment="mybody">
    <div class="card m-3">

        <img class="card-img-top" src="/image/StudyOwls1.png" alt="Studying owls">

        <div class="card-body">
            <h1 class="card-title" th:text="#{courses.showAll}">All Courses</h1>

            <!-- List of courses -->
            <div class="list-group mt-3">
                <!-- Iterating over courses -->
                <div th:each="course : ${coursesPage}">
                    <!-- Course fragment -->
                    <div th:insert="~{courses/courseFragment :: courseFragment (course=${course})}"></div>
                </div>
            </div>

            <!-- Pagination controls -->
            <div th:if="${!coursesPage.empty}">
                <div>
                    <ul class="pagination mt-3">
                        <li class="page-item" th:classappend="${coursesPage.first} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/courses(page=${coursesPage.number - 1}, size=${coursesPage.size})}">
                               &laquo;
                                <span th:text="#{pagination.previous}">Previous</span>
                            </a>
                        </li>

                        <li class="page-item"
                            th:each="pageNum : ${#numbers.sequence(0, coursesPage.totalPages - 1)}"
                            th:classappend="${pageNum == coursesPage.number} ? 'active' : ''">
                            <a class="page-link" th:href="@{/courses(page=${pageNum}, size=${coursesPage.size})}"
                               th:text="${pageNum + 1}"></a>
                        </li>

                        <li class="page-item" th:classappend="${coursesPage.last} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/courses(page=${coursesPage.number + 1}, size=${coursesPage.size})}">
                                <span th:text="#{pagination.next}">Next</span>
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Form for adding new course -->
            <div class="card" sec:authorize="hasAuthority('EXPERT')">
                <div class="card-body">
                    <h2 class="card-title" th:text="#{courses.AddNew}">Add New Course</h2>
                    <form th:action="@{/courses/create}" method="post">
                        <div class="form-group">
                            <label for="courseTitle" th:text="#{courses.title}">Course Title</label>
                            <input type="text" class="form-control" id="courseTitle" name="title"
                                   th:placeholder="#{courses.placeholder.title}" required>
                        </div>
                        <div class="form-group">
                            <label for="courseDescription" th:text="#{courses.description}">Course
                                Description</label>
                            <textarea class="form-control" id="courseDescription" name="description" rows="3"
                                      required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" th:text="#{create.course}">Create Course
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>
</body>
</html>
