<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course-Viewing-Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<section layout:fragment="mybody">
    <div>
        <h1>User Course Viewing Stats</h1>
        <canvas id="userActivityChart"></canvas>
    </div>
    <script th:inline="javascript">

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var courseViewingStats = /*[[${courseViewingStats}]]*/ {}; // Ändern Sie den Namen der Variablen entsprechend
        console.log("courseviewingstats", courseViewingStats);

        // Konvertieren Sie die Daten in ein Format, das von Chart.js verstanden wird
        var labels = Object.keys(courseViewingStats); // Datumsangaben
        var datasets = [];

        console.log("labels in frontend: ", labels);

        // Erstellen Sie für jeden Benutzer ein Dataset
        Object.entries(courseViewingStats).forEach(([date, userStats]) => {
            console.log("date: " + date + " and ");
            Object.entries(userStats).forEach(([username, count]) => {
                console.log("username, count: ", username, count);
                var userDataset = datasets.find(dataset => dataset.label === username);
                if (!userDataset) {
                    userDataset = {
                        label: username,
                        data: [],
                        backgroundColor: getRandomColor(),
                        stack: 'Stack 0'
                    };
                    datasets.push(userDataset);
                }
                userDataset.data.push({x: date, y: count});
            });
        });

        var ctx = document.getElementById('userActivityChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar', // Oder ein anderer Typ, wenn gewünscht
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });

    </script>
</section>
</body>
</html>
