<!DOCTYPE html>
<html layout:decorate="~{signup}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8" /></head>
<body>

<section class="layout-content" layout:fragment="moreAttributes">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label th:for="expertise" th:text="#{form.label.expertise}">Expertise </label>
            <input type="text" class="form-control" id="expertise" th:placeholder="#{form.placeholder.expertise}"
                   autofocus="autofocus" th:field="*{expertise}"
                   th:classappend="${#fields.hasErrors('expertise')} ? 'is-invalid'" />
            <div class="invalid-feedback">
                <span th:errors="*{expertise}"></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
