<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test Fragments</title>
</head>
<body>
<!-- Test Fragment -->
<div th:fragment="testFragment(test)">
  <div class="card-body">
    <!-- heading for content -->
    <h3 class="card-title" th:text="${test.testName}">Test</h3>

    <!-- Loop through questions in the test -->
    <!--div th:each="question : ${test.questions}">
      <p th:text="${question.question}">Question Title</p>
    </div-->
  </div>
</div>

</body>
</html>