<!DOCTYPE html>
<html layout:decorate="~{signup}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="moreAttributes">
    <!-- Hidden field for username -->
    <input type="hidden" th:field="*{username}" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="affiliation" th:text="#{form.label.affiliation}">Affiliation </label>
            <input type="text" class="form-control" id="affiliation" th:placeholder="#{form.placeholder.affiliation}"
                   autofocus="autofocus" th:field="*{affiliation}"
                   th:classappend="${#fields.hasErrors('Affiliation')} ? 'is-invalid'"/>
            <div class="invalid-feedback">
                <span th:errors="*{affiliation}"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label th:for="qualification" th:text="#{form.label.qualification}">Qualification </label>
            <input type="text" class="form-control" id="qualification"
                   th:placeholder="#{form.placeholder.qualification}"
                   th:field="*{qualification}"
                   th:classappend="${#fields.hasErrors('Qualification')} ? 'is-invalid'"/>
            <div class="invalid-feedback">
                <span th:errors="*{qualification}"></span>
            </div>
        </div>
    </div>

    <!-- Delete Button -->
    <button type="button" class="btn btn-danger mt-3" id="deleteButton" th:text="#{courses.delete}">Delete</button>


    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var usernameInput = document.getElementById('usernameInput');
            var usernameLabel = document.getElementById('usernameLabel');

            console.log('Username Input:', usernameInput);
            console.log('Username Label:', usernameLabel);

            if (usernameInput && usernameLabel) {
                // Disable the input
                usernameInput.disabled = true;

                // Change label text color to gray
                usernameLabel.style.color = 'gray';
            }

            var deleteButton = document.getElementById('deleteButton');

            deleteButton.addEventListener('click', function() {
                var userName = usernameInput.value;
                if(userName) {
                    window.location.href = '/researchers/delete?userName=' + encodeURIComponent(userName);
                } else {
                    alert('Username is missing');
                }
            });
        });
    </script>
</section>
