<!DOCTYPE html>
<html layout:decorate="~{signup}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8" /></head>
<body>

<section class="layout-content" layout:fragment="moreAttributes">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label th:for="affiliation" th:text="#{form.label.affiliation}>Affiliation </label>
            <input type="text" class="form-control" id="affiliation" th:placeholder="#{form.placeholder.affiliation}"
                   th:field="*{affiliation}"
                   th:classappend="${#fields.hasErrors('Affiliation')} ? 'is-invalid'" />
            <div class="invalid-feedback">
                <span th:errors="*{affiliation}"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label th:for="qualification" th:text="#{form.label.qualification}">Qualification </label>
            <input type="text" class="form-control" id="qualification" th:placeholder="#{form.placeholder.qualification}"
                   th:field="*{qualification}"
                   th:classappend="${#fields.hasErrors('Qualification')} ? 'is-invalid'" />
            <div class="invalid-feedback">
                <span th:errors="*{qualification}"></span>
            </div>
        </div>
</section>
