<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand mx-3" th:href="@{/}" th:text="#{app.title}">Educational Site</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/courses}" th:text="#{navbar.courses}">Courses</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/chats/chat}" th:text="#{navbar.chat}">Chatroom</a>
				</li>
				<li class="nav-item" sec:authorize="hasAuthority('STUDENT')">
					<a class="nav-link" th:href="@{/students/motivation}" th:text="#{navbar.motivation}">Motivate Me!</a>
				</li>
				<li class="nav-item" sec:authorize="hasAuthority('EXPERT')">
					<a class="nav-link" th:href="@{/experts/guideline}" th:text="#{navbar.guideline}">Guideline</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/ai}" th:text="#{navbar.ai}">Chat with AI</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" th:text="#{navbar.language}" id="navbarDropdown" role="button"
					   data-bs-toggle="dropdown" aria-expanded="false">
						Language
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" th:href="@{'/?lang=en'}" th:text="#{navbar.language.english}">English</a></li>
						<li><a class="dropdown-item" th:href="@{'/?lang=de'}" th:text="#{navbar.language.german}">Deutsch</a></li>
					</ul>
				</li>
				<!-- Add other navigation items here -->
				<li class="nav-item first-item-right">
					<form th:action="@{/login}" method="get">
						<button type="submit" class="btn btn-link nav-link" th:text="#{login}">Login</button>
					</form>
				</li>
				<li class="nav-item mr-3">
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-link nav-link" th:text="#{logout}">Logout</button>
					</form>
				</li>
			</ul>
		</div>

	</nav>
</header>
