.navbar-nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.navbar-nav .first-item-right {
    margin-left: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey; /* Off color */
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: blue; /* On color */
}

input:focus + .slider {
    box-shadow: 0 0 1px blue; /* On color */
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Style the container for better alignment */
.notification-switch-container {
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 110%;
}

/* Adjust the size of the switch */
.switch {
    width: 40px;  /* Smaller width */
    height: 24px;  /* Smaller height */
}

.switch .slider {
    height: 22px;
}

.switch .slider:before {
    width: 14px;
    height: 14px;
}

