<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Researcher</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container form-container">
    <h1>Edit Researcher</h1>

    <form th:action="@{/researchers/add/process}" th:object="${researcher}" method="POST">

        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" class="form-control" th:field="*{id}" id="id"/>
        </div>

        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName"/>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName"/>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" th:field="*{email}" id="email"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
