<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container text-center mt-5">
    <h1 th:text="#{error.title}">
        Ooooohhps! Something went wrong.</h1>

    <!-- Bootstrap row and column to control image size -->
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- Display the custom 404 owl image -->
            <img src="/image/error404.png" alt="404 Error Owl" class="img-fluid">
        </div>
    </div>

    <a href="/" class="btn btn-primary mt-3" th:text="#{error.goHome}">Go Home</a>
</div>

</body>
</html>
