<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .center-links {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>


<div class="container center-links">
    <a th:href="@{/students/edit/1}" class="btn btn-primary">View Student List</a>
    <a th:href="@{/students/signup}" class="btn btn-secondary">Student Signup</a>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
