<!DOCTYPE html>
<html layout:decorate="~{signup}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="mybody">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <a href="/students/signup" class="btn btn-primary btn-sm float-right">Student</a>
                        <a href="/experts/signup" class="btn btn-primary btn-sm float-right">Expert</a>
                        <a href="/researchers/signup" class="btn btn-primary btn-sm float-right">Researcher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
