<!DOCTYPE html>
<head><meta charset="UTF-8"/>


    <title>Add Student</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/image/favicon.png" />

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
</head>


<body>

<section class="layout-content" >
    <div class="page-header">
        <nav class="navbar navbar-expand-md navbar-top bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span>Add Student</span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" id="registration">


        <form th:action="@{/students/add/process}"
              th:object="${student}" method="POST">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">Name </label>
                    <input type="text" class="form-control" id="firstName" placeholder="Name"
                           autofocus="autofocus" th:field="*{firstName}"
                           th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{firstName}"></span>
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="lastName">Name </label>
                    <input type="text" class="form-control" id="lastName" placeholder="Name"
                           autofocus="autofocus" th:field="*{lastName}"
                           th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{lastName}"></span>
                    </div>
                </div>

            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email"
                           th:field="*{email}"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{email}"></span>
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="birthDate">Data of Birth</label>
                    <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}"
                           th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{birthDate}"></span>
                    </div>
                </div>
            </div>


            <input type="hidden" id="id" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </form>
    </div>
</section>
</body>
</html>
