<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="mybody">
    <div class="row align-items-start justify-content-center mt-3">
        <!-- Sign Up and Edit Section -->
        <div class="col-sm-5">
            <div class="container" id="registration">

                <form th:action="@{${link}}"
                      th:object="${user}" method="POST">

                    <div class="form-row">
                        <div class="form-group col">
                            <label th:for="username" th:text="#{form.label.username}">Username</label>
                            <input type="text" class="form-control" id="username"
                                   th:placeholder="#{form.placeholder.username}"
                                   autofocus="autofocus" th:field="*{username}"
                                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"/>
                            <div class="invalid-feedback">
                                <span th:errors="*{username}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label th:for="password" th:text="#{form.label.password}">Password</label>
                            <input type="text" class="form-control" id="password"
                                   th:placeholder="#{form.placeholder.password}"
                                   autofocus="autofocus" th:field="*{password}"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
                            <div class="invalid-feedback">
                                <span th:errors="*{password}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label th:for="firstName" th:text="#{form.label.firstname}">Firstname </label>
                            <input type="text" class="form-control" id="firstName"
                                   th:placeholder="#{form.placeholder.firstname}"
                                   autofocus="autofocus" th:field="*{firstName}"
                                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"/>
                            <div class="invalid-feedback">
                                <span th:errors="*{firstName}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label th:for="lastName" th:text="#{form.label.lastName}">Lastname </label>
                            <input type="text" class="form-control" id="lastName"
                                   th:placeholder="#{form.placeholder.lastname}"
                                   autofocus="autofocus" th:field="*{lastName}"
                                   th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"/>
                            <div class="invalid-feedback">
                                <span th:errors="*{lastName}"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col">
                            <label th:for="email" th:text="#{form.label.email}">Email</label>
                            <input type="text" class="form-control" id="email"
                                   th:placeholder="#{form.placeholder.email}"
                                   th:field="*{email}"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
                            <div class="invalid-feedback">
                                <span th:errors="*{email}"></span>
                            </div>
                        </div>
                    </div>

                    <div layout:fragment="moreAttributes">
                        <div> more attributes</div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm mt-2" th:text="#{form.button.save}">Save</button>
                </form>
            </div>
        </div>

        <!-- Mascot Image Section -->
        <div class="col-sm-4 d-flex justify-content-end">
            <!-- not full sitze image-->
            <div class="container">
                <img th:src="@{/image/signupOwl.png}" alt="Mascot" class="img-fluid">
            </div>
        </div>
    </div>

</section>
</body>
</html>
