<!DOCTYPE html>
<html layout:decorate="~{signup}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="moreAttributes">
    <!-- Hidden field for username -->
    <input type="hidden" th:field="*{username}" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="birthDate" th:text="#{form.label.birth}">Birthdate </label>
            <input type="text" class="form-control" id="birthDate" th:placeholder="#{form.placeholder.birth}"
                   autofocus="autofocus" th:field="*{birthDate}"
                   th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid'"/>
            <div class="invalid-feedback">
                <span th:errors="*{birthDate}"></span>
            </div>
        </div>
    </div>

    <!-- Delete Button -->
    <button type="button" class="btn btn-danger mt-3" id="deleteButton" th:text="#{courses.delete}">Delete</button>


    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var usernameInput = document.getElementById('usernameInput');
            var usernameLabel = document.getElementById('usernameLabel');

            console.log('Username Input:', usernameInput);
            console.log('Username Label:', usernameLabel);

            if (usernameInput && usernameLabel) {
                // Disable the input
                usernameInput.disabled = true;

                // Change label text color to gray
                usernameLabel.style.color = 'gray';
            }

            var deleteButton = document.getElementById('deleteButton');

            deleteButton.addEventListener('click', function() {
                var userName = usernameInput.value;
                if(userName) {
                    window.location.href = '/students/delete?userName=' + encodeURIComponent(userName);
                } else {
                    alert('Username is missing');
                }
            });
        });
    </script>
</section>
