<!DOCTYPE html>
<html layout:decorate="~{signup}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="moreAttributes">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="birthDate" th:text="#{form.label.birth}">Birthdate </label>
            <input type="text" class="form-control" id="birthDate" th:placeholder="#{form.placeholder.birth}"
                   autofocus="autofocus" th:field="*{birthDate}"
                   th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid'"/>
            <div class="invalid-feedback">
                <span th:errors="*{birthDate}"></span>
            </div>
        </div>
    </div>
</section>
