<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Motivational Message</title>
</head>

<body>
<section layout:fragment="mybody">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Hello, <span th:text="${user.firstName}">Student Name</span>!</h3>
                        <p class="lead">Keep pushing forward and believe in your dreams. Your hard work and dedication will lead you to amazing places. Remember, every big accomplishment starts with the decision to try. You're doing great!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
